// Specific CSS for your home-page

.main {
  display: flex;
  justify-content: space-between;
  margin: 48px 48px;
}

audio {
  width: 154px;
  // border: 1px solid black;
}

audio:hover {
  // filter: drop-shadow(1px 1px 1px #333);
}

audio::-webkit-media-controls-panel {
  border-radius: 0px;
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}
audio::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-volume-slider-container:hover {
  width: 154px;
}
audio::-webkit-media-controls-volume-slider {
}

.audio-elements {

}

.audio-element {
  display: flex;
  justify-content: start;
  align-items: center;
  p {
    font-size: 13px;
    margin: 0px;
  }
}

// bootstrap slider bar

.custom-range {
  // width: 50%;
}

.custom-range::-webkit-slider-thumb {
  background: rgb(0, 0, 0);
}

.custom-range::-moz-range-thumb {
  background: rgb(0, 0, 0);
}

.custom-range::-ms-thumb {
  background: rgb(0, 0, 0);
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 13px;
    margin: 0px;
  }
}

#radio-audio {
  display: flex;
  align-items: center;
}

.radio #radio-top {
  display: flex;
  align-items: center;
}

.gif {
  img {
    height: 380px;
    width: auto;
  }
}

.spotify {
  position: relative;

  .spotify-background {
    position: absolute;
    width: 300px;
    height: 380px;
    background-color: rgb(8, 61, 119);
    z-index: -1;
    right: 9%;
    bottom: 8%;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 0px 24px;
  margin: 0px auto;

  p {
    font-size: 12px;
    margin: 0px 12px;

  }
}
