// Specific CSS for your home-page

.main {
  display: flex;
  justify-content: space-between;
  padding: 120px 32px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

audio {
  width: 154px;
  // border: 1px solid black;
}

audio:hover {
  // filter: drop-shadow(1px 1px 1px #333);
}

audio::-webkit-media-controls-panel {
  border-radius: 0px;
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}
audio::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-volume-slider-container:hover {
  width: 154px;
}
audio::-webkit-media-controls-volume-slider {
}

.audio-elements {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 24px;
  overflow-y: scroll;

}

.audio-element {
  display: flex;
  justify-content: start;
  align-items: center;
  p {
    font-size: 13px;
    margin: 0px;
  }
}

// bootstrap slider bar

.custom-range {
  // width: 50%;
}

.custom-range::-webkit-slider-thumb {
  background: rgb(0, 0, 0);
}

.custom-range::-moz-range-thumb {
  background: rgb(0, 0, 0);
}

.custom-range::-ms-thumb {
  background: rgb(0, 0, 0);
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 13px;
    margin: 0px;
  }
}

#radio-audio {
  display: flex;
  align-items: center;
  p {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 4px;
    height: 54px;
  }
}

.radio #radio-top {
  display: flex;
  align-items: center;
}

#carouselExampleIndicators {

  .carousel-item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    background-size: cover;
  }

  .carousel-control-prev {
    z-index: 99;
  }

  img {
    // background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    opacity: 0.8;
  }

}

.carousel-indicators {
  position: relative;
  bottom: 6%;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  position: relative;
  z-index: -1;

  .carousel-caption {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    // color: black;

    p {
      font-size: 12px;
    }
  }
}

.spotify {
  position: relative;

  .carousel {
    position: relative;
  }

  .spotify-background {
    position: absolute;
    width: 300px;
    height: 380px;
    background-color: rgb(8, 61, 119);
    z-index: -2;
    right: 9%;
    bottom: 8%;
  }

  .carousel-inner {
    overflow: hidden;
    z-index: 2;
    height: 100%;
  }

  .carousel-control-prev {
    z-index: 2;
    transform: rotate(90deg);
    top: -107%;
    left: 45%;
  }
  .carousel-control-next {
    z-index: 2;
    transform: rotate(90deg);
    bottom: -107%;
    left: 45%;
  }

  .carousel-control-next-icon {
    background-color: black;
  }

  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 100px);
            transform: translate3d(0, 0, 100px);
  }

  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  .carousel-item-prev,
  .active.carousel-item-left {
-webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
  }
}

footer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0px 24px;
  margin: 0px auto;

  p {
    font-size: 12px;
    margin: 0px 12px;

  }
}
