<div class="main">
  <div class="audio-elements">
    <div class="audio-element">
      <p>Vinyl Crackling</p>
      <audio controls loop>
        <source src="https://docs.google.com/uc?export=download&id=1oF4EwKOzqM-iIsLP34KmwdDWLYE6UaPc">
      </audio>
    </div>
    <div class="audio-element">
      <p>Car Ride</p>
      <audio controls loop>
        <source src="https://docs.google.com/uc?export=download&id=1tkUJ3HqKLlCa2SqNABXpxK0GqJQUhuR5">
      </audio>
    </div>
    <div class="audio-element">
      <p>Rainy Day</p>
      <audio controls loop>
        <source src="https://docs.google.com/uc?export=download&id=1zU0r1c_BhaOWrF3JM6Z_oJZd_I_WNcxr">
      </audio>
    </div>
    <div class="radio">
      <label for="customRange">Time Machine Radio</label>
      <input type="range" class="custom-range" min="0" max="5" value="0"id="customRange">
      <div id="radio"></div>
    </div>
  </div>
  <iframe src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<footer>
  <p>Code & Audio by <strong>Ryu Watanabe</strong> @ryuuuwataa</p>
  <p>Art by <strong>Kensei Morita</strong> <a href="https://www.instagram.com/kenseimorita/">@kenseimorita</a></p>
  <p>Inspired by <a href="imissmycafe.com">imissmycafe.com</a> & <a href="imissmybar.com">imissmybar.com</a></p>
</footer>
<!-- <div class="controls">
  <label for="spacing">Spacing:</label>
  <input id="spacing" type="range" name="spacing" min="10" max="200" value="10" data-sizing="px">
  <label for="blur">Blur:</label>
  <input id="blur" type="range" name="blur" min="0" max="25" value="10" data-sizing="px">
  <label for="base">Base Color</label>
  <input id="base" type="color" name="base" value="#ffc600">
</div> -->